<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:background="@android:color/background_light"
    android:layout_centerInParent="true"
    android:paddingTop="3dp"
    android:paddingLeft="15dp"
    android:paddingRight="3dp"
    android:paddingBottom="15dp"
    android:gravity="left|center_vertical"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content">
    <TextView
        android:id="@+id/map_marker_count"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="right"
        android:textColor="@color/gray_very_dark"
        android:textSize="@dimen/text_size_small" />
    <TextView
        android:id="@+id/map_marker_name"
        android:textColor="@android:color/holo_red_dark"
        android:textSize="@dimen/text_size_small"
        android:singleLine="true"
        android:ellipsize="end"
        android:layout_width="50dp"
        android:layout_height="wrap_content" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content">
        <TextView
            android:id="@+id/map_marker_price"
            android:textSize="20dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textColor="@color/gray_very_dark" />
        <TextView
            android:id="@+id/map_marker_price_smallNumber"
            android:paddingTop="3dp"
            android:textSize="10dp"
            android:gravity="top"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:textColor="@color/gray_very_dark" />
    </LinearLayout>
</LinearLayout>