<ion-header-bar align-title="center" class="bar-stable">
    <button class="button button-icon" ng-click="clickSettings()">
        <i class="icon ion-gear-a"></i>
    </button>
    <div class="title">
        <input class="text-center" placeholder="Address"></input>
    </div>
    <button class="button button-icon" ng-click="">
        <i class="icon ion-location"></i>
    </button>
    <button class="button button-icon" ng-click="goTodo()">
        <i class="icon ion-arrow-right-c"></i>
    </button>
</ion-header-bar>
 <ion-content scroll="false">
    <div id="map" scroll="false" data-tap-disabled="true"></div>
</ion-content>
<div ng-style="listStyle">
    <ion-list>
        <ion-item class="slider-bar" on-release="onRelease($event)" on-drag="onDrag($event)">
            &#61
        </ion-item>
        <ion-scroll ng-style="list">
        <ion-item ng-repeat="item in petrolStations">
            {{item.getPosition()}}
        </ion-item>
        </ion-scroll>
    </ion-list>
</div>

  

<!--
<ion-footer-bar align-title="center" class="bar-stable">
    <div class="title">
        <input class="text-center" placeholder="Todo"></input>
    </div>
</ion-footer-bar>
-->

