<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:background="@android:color/background_light"
    android:padding="5dp"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content">
    <TextView
        android:id="@+id/map_marker_brand"
        android:textColor="@android:color/holo_red_dark"
        android:textSize="24dp"
        android:singleLine="true"
        android:ellipsize="end"
        android:layout_width="100dp"
        android:layout_height="wrap_content" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content">
        <TextView
            android:id="@+id/map_marker_price"
            android:textColor="@android:color/black"
            android:textSize="24dp"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
        <TextView
            android:id="@+id/map_marker_price_smallNumber"
            android:textColor="@android:color/black"
            android:paddingTop="2dp"
            android:textSize="18dp"
            android:gravity="top"
            android:layout_width="wrap_content"
            android:layout_height="match_parent" />
    </LinearLayout>
</LinearLayout>