/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.slider-bar {
    background-color: lightgray;
    text-align: center;
    height:24px;
    padding: 0;
}